{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}

    <div class="container bg-light mt-3 p-3">
        <ul><h1 class="text-primary">Users</h1>
            <hr>
            {% for user in users %}
                <li><a href="/users/{{user.id}}">[{{user.id}}] </a>{{user.first_name}} {{user.last_name}}</li>
            {% endfor %}
            </ul>
        <div class="container">
            <button class="btn btn-primary" id="btnAddUser">Add new user</button>
            <button class="btn btn-primary" id="btnAddTag">Add new tag</button>
        </div>
    </div>

    <script>
        btnAddUser = document.querySelector('#btnAddUser')

        function addUser(){
            window.location.href = '/users/new'
        }

        btnAddUser.addEventListener('click', addUser)

        btnAddTag = document.querySelector('#btnAddTag')

        function addNewTag(){
            window.location.href = '/tags/new'
        }

        btnAddTag.addEventListener('click', addNewTag)

    </script>
    {% block new %} {% endblock %}
{% endblock %}