{% extends 'base.html' %}

{% block title %}Tag{% endblock %}

{% block content %}
    <div class="container bg-light">

    
    <h1>{{tag.name}}</h1>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.post_id}}">{{post.post_id}}</a></li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-primary mb-3" id="btnBack">Back</button>    
    <button type="button" class="btn btn-primary mb-3" id="btnEdit">Edit</button>    
    </div>
    <script>
        btnBack = document.querySelector("#btnBack")
        function back(){
            window.location.href = "/tags"
        }

        btnBack.addEventListener('click', back)

        btnEdit = document.querySelector("#btnEdit")
        function edit(){
            window.location.href = "/tags/{{tag.id}}/edit"
        }

        btnEdit.addEventListener('click', edit)
    </script>
{% endblock %}